<div class="container">
	<form name="form" class="form-inline" (ngSubmit)="f.form.valid && ((dist.value && position.value) || 
		(!dist.value && !position.value)) && search()" #f="ngForm" novalidate>
		<div class="row search-row">
			<div class="form-group" [ngClass]="">
				<input class="form-control" type="text" name="freetext" size="50" [(ngModel)]="model.freetext"
				#freetext="ngModel" placeholder="Αναζήτηση δραστηριότητας..." />
			</div>
			<div class="form-group" [ngClass]="{ 'has-error': dist.errors?.pattern || (!dist.value && position.value)}">
	            <label class="control-label unbold">&nbsp;με απόσταση έως&nbsp;</label>
				<input class="form-control" type="text" name="dist" size="2" [(ngModel)]="model.dist"
				#dist="ngModel" pattern="\b[0-9]*\b" />
			</div>
			<div class="form-group" [ngClass]="{ 'has-error': dist.value && !(position.value)}">
	            <label class="control-label unbold">&nbsp;χλμ. από&nbsp;</label>
				<input class="form-control" type="text" name="position" size="45" [(ngModel)]="model.position"
				#position="ngModel" placeholder="το σημείο (διεύθυνση/περιοχή)..." />	
			</div>
			<div class="form-group" [ngClass]="">
	            <label class="control-label unbold">Ημερομηνίες από&nbsp;</label>
				<input class="form-control" type="date" name="startdate" [(ngModel)]="model.startdate"
				#startdate="ngModel" />
			</div>
			<div class="form-group" [ngClass]="">
	            <label class="control-label unbold">&nbsp;έως&nbsp;</label>
				<input class="form-control" type="date" name="enddate" [(ngModel)]="model.enddate"
				#enddate="ngModel" />
				<label class="control-label unbold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			</div>	
			<div class="form-group" [ngClass]="{ 'has-error': lowpoints.errors?.pattern }">
	            <label class="control-label unbold">&nbsp;Τιμή από&nbsp;</label>
				<input class="form-control" type="text" name="lowpoints" size="8" [(ngModel)]="model.lowpoints"
				#lowpoints="ngModel" pattern="\b[0-9]*\b" />
			</div>
			<div class="form-group" [ngClass]="{ 'has-error': highpoints.errors?.pattern }">
	            <label class="control-label unbold">&nbsp;έως&nbsp;</label>
				<input class="form-control is-invalid" type="text" name="highpoints" size="8" [(ngModel)]="model.highpoints"
				#highpoints="ngModel" pattern="\b[0-9]*\b" />
				<label class="control-label unbold">&nbsp;πόντους&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			</div>
			<div class="form-group" [ngClass]="{ 'has-error': age.errors?.pattern }">
	            <label class="control-label unbold">&nbsp;Ηλικία παιδιού&nbsp;</label>
				<input class="form-control" type="text" name="age" size="8" [(ngModel)]="model.age"
				#age="ngModel" pattern="\b[0-9]*\b" />
				<label class="control-label unbold">&nbsp;έτη&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
			</div>
			<div class="form-group" [ngClass]="">
				<label class="control-label unbold">Κατηγορίες:</label>&nbsp;&nbsp;&nbsp;
				<label class="checkbox-inline">
				  <input type="checkbox" id="ic1" name="cat1" [(ngModel)]="model.cat1"
					#cat[1]="ngModel">Παραστάσεις
				</label>&nbsp;&nbsp;
				<label class="checkbox-inline">
				  <input type="checkbox" id="ic2" name="cat2" [(ngModel)]="model.cat2"
					#cat[2]="ngModel">Μουσεία
				</label>&nbsp;&nbsp;
				<label class="checkbox-inline">
				  <input type="checkbox" id="ic3" name="cat3" [(ngModel)]="model.cat3"
					#cat[3]="ngModel">Αθλητισμός
				</label>&nbsp;&nbsp;
				<label class="checkbox-inline">
				  <input type="checkbox" id="ic4" name="cat4" [(ngModel)]="model.cat4"
					#cat[4]="ngModel">Παιχνίδι
				</label>&nbsp;&nbsp;
				<label class="checkbox-inline">
				  <input type="checkbox" id="ic5" name="cat5" [(ngModel)]="model.cat5"
					#cat[5]="ngModel">Επιστήμη &amp; Περιβάλλον
				</label>&nbsp;&nbsp;
				<label class="checkbox-inline">
				  <input type="checkbox" id="ic6" name="cat6" [(ngModel)]="model.cat6"
					#cat[6]="ngModel">Μαθήματα
				</label>&nbsp;&nbsp;
			</div>
			<button class="btn btn-default custom-search-button" type="submit" >Αναζήτηση</button>
		</div>
	</form>
	<div *ngIf="model.error" class = "alert alert-danger">{{model.error}}</div>
</div>
<hr/>