<div class="container">
 <br>
 <h3><b>Συχνές Ερωτήσεις</b></h3>
 <br>
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Τι είναι η πλατφόρμα Kidspiration;</a></h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body good-size">Η πλατφόρμα Kidspiration είναι μια σύγχρονη, εύχρηστη και καινοτόμα πλατφόρμα που ιδρύθηκε το 2017, με στόχο να φέρει γονείς και παιδιά σε επαφή με μια τεράστια γκάμα παιδικών δραστηριοτήτων για όλα τα γούστα, καθώς επίσης και να δώσει τη δυνατότητα σε διοργανωτές παιδικών δραστηριοτήτων να προβάλλουν τις δραστηριότητές τους σε ευρύ κοινό.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Σε ποιούς απευθύνεται η πλατφόρμα Kidspiration;</a></h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body good-size">Η πλατφόρμα Kidspiration απευθύνεται σε γονείς που αναζητούν ενδιαφέρουσες, εποικοδομητικές και διασκεδαστικές δραστηριότητες και εκδηλώσεις για τα παιδιά τους. Απευθύνεται επίσης σε παρόχους παιδικών δραστηριότητων οι οποίοι επιθυμούν να διαθέσουν εισιτήρια για τις δραστηριότητες που διοργανώνουν μέσω της πλατφόρμας.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Πώς μπορώ να συμμετάσχω στην πλατφόρμα Kidspiration;</a></h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body good-size">Για την αναζήτηση παιδικών δραστηριοτήτων στην πλατφόρμα δεν απαιτείται εγγραφή. Εάν είστε γονέας και επιθυμείτε να αγοράσετε εισιτήρια για δραστηριότητες για τα παιδιά σας, τότε πρέπει να εγγραφείτε στην πλατφόρμα ως γονέας για να πραγματοποιήσετε την αγορά. Εάν είστε πάροχος παιδικών εκδηλώσεων και επιθυμείτε να προβάλλετε τις εκδηλώσεις σας στην πλατφόρμα μας και να διαθέσετε εισιτήρια γι' αυτές, τότε πρέπει να εγγραφείτε ως πάροχος. Η εγγραφή στην πλατφόρμα είναι και στις δύο περιπτώσεις εντελώς δωρεάν.</div>
    </div>
  </div>
  <br>
  <h3><b>Για Γονείς</b></h3>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Πως μπορώ να αγοράσω εισιτήριο για το παιδί μου για μια δραστηριότητα;</a></h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body good-size">Αφού βρείτε τη δραστηριότητα που σας ενδιαφέρει μέσω της αναζήτησης, μπορείτε να μεταβείτε στη σελίδα της συγκεκριμένης δραστηριότητας και από εκεί να αγοράσετε εισιτήρια για αυτή, εφόσον υπάρχουν διαθέσιμα. Η αγορά εισιτηρίων δεν γίνεται απευθείας με χρήματα, αλλά χρησιμοποιώντας τους πόντους που έχετε στο ηλεκτρονικό σας πορτοφόλι.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Πως λειτουργεί το ηλεκτρονικό πορτοφόλι της πλατφόρμας Kidspiration;</a></h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body good-size">Η αγορά πόντων για το ηλεκτρονικό πορτοφόλι γίνεται με χρήση πιστωτικής ή χρεωστικής κάρτας, και με συγκεκριμένα πακέτα που υπάρχουν διαθέσιμα στη σελίδα αγοράς πόντων. Τους πόντους αυτούς στη συνέχεια μπορείτε να τους χρησιμοποιήσετε για να αγοράσετε εισιτήρια για τις εκδηλώσεις που επιθυμείτε. Οι πόντοι δεν έχουν ημερομηνία λήξης και μπορούν να χρησιμοποιηθούν μόνο εντός της πλατφόρμας Kidspiration. Επιστροφές χρημάτων από πόντους δεν γίνονται δεκτές.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Πως χρησιμοποιώ το εισιτήριο που αγόρασα για μια δραστηριότητα;</a></h4>
    </div>
    <div id="collapse6" class="panel-collapse collapse">
      <div class="panel-body good-size">Με την αγορά του εισιτηρίου, στέλνεται σε ηλεκτρονική μορφή το εισιτήριο για τη δραστηριότητα στην ηλεκτρονική διεύθυνση e-mail που έχετε δηλώσει στο λογαριασμό σας. Το εισιτήριο αυτό πρέπει να προσκομίσετε κατά την προσέλευση στη δραστηριότητα μαζί με το παιδί σας.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Πως μπορώ να δω το ιστορικό των εισιτηρίων που έχω αγοράσει;</a></h4>
    </div>
    <div id="collapse7" class="panel-collapse collapse">
      <div class="panel-body good-size">Τα τρέχοντα και τα παλαιότερα εισιτήρια που έχετε αγοράσει καθώς και τις πληροφορίες του λογαριασμού σας στην πλατφόρμα, μπορείτε να τα προβάλλετε στην προσωπική, ιδιωτική σας σελίδα προφίλ.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Γιατί να χρησιμοποιήσω την πλατφόρμα Kidspiration;</a></h4>
    </div>
    <div id="collapse8" class="panel-collapse collapse">
      <div class="panel-body good-size">Γιατί στην πλατφόρμα Kidspiration θα βρείτε τη μεγαλύτερη γκάμα δραστηριοτήτων για παιδιά στις καλύτερες τιμές. Στην Kidspiration ανταμείβουμε την εμπιστοσύνη σας με συμφέροντα πακέτα πόντων, καθώς και 1000 μπόνους πόντους συναλλαγών για κάθε 30000 πόντους αγορών, έτσι ώστε να μπορείτε να προσφέρετε στα παιδιά σας ακόμα περισσότερες ευκαιρίες για γνώση και ψυχαγωγία. </div>
    </div>
  </div>
  <br>
  <h3><b>Για Παρόχους</b></h3>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Πως μπορώ να προβάλλω στην πλατφόρμα μια δραστηριότητα που οργανώνω;</a></h4>
    </div>
    <div id="collapse9" class="panel-collapse collapse">
      <div class="panel-body good-size">Αφού εγγραφείτε και συνδεθείτε ως πάροχος, μπορείτε να αναρτήσετε κάθε δραστηριότητα που διοργανώνετε, μέσω της φόρμας υποβολής δραστηριότητας που δίνεται στην αντίστοιχη σελίδα. Αφού συμπληρώσετε και υποβάλετε τη φόρμα, τα στοιχεία της δραστηριότητας θα ελεγχθούν και εφόσον πληρούν τους Όρους Χρήσης της πλατφόρμας Kidspiration, η δραστηριότητα θα εγκριθεί και θα εμφανίζεται κανονικά στην πλατφόρμα. Για την έγκριση ή την απόρριψη μιας δραστηριότητας που έχετε υποβάλλει στην πλατφόρμα θα ενημερωθείτε με μήνυμα ηλεκτρονικού ταχυδρομείου στη διεύθυνση e-mail που αντιστοιχεί στο λογαριασμό σας.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Μπορώ να παρακολουθώ την εξέλιξη των πωλήσεων των εισιτηρίων για τις εκδηλώσεις μου στην πλατφόρμα;</a></h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse">
      <div class="panel-body good-size">Ναι, μπορείτε να παρακολουθείτε την εξέλιξη της προπώλησης εισιτηρίων για όλες τις ενεργές δραστηριότητες που έχετε υποβάλει στην πλατφόρμα, καθώς και πληροφορίες για την πώληση εισιτηρίων παλαιότερων εκδηλώσεων που είχατε αναρτήσει στην πλατφόρμα, στην ιδιωτική σελίδα προφίλ, στην αντίστοιχη καρτέλα.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Τι υποχρεώσεις έχω απέναντι στην πλατφόρμα Kidspiration ως πάροχος παιδικών δραστηριοτήτων;</a></h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse">
      <div class="panel-body good-size">Με την ανάρτηση μιας δραστηριότητας αυτόματα αποδέχεστε την πολιτική της πλατφόρμας Kidspiration για κράτηση του 10% της τιμής του εισιτηρίου για κάθε εισιτήριο που πωλείται για κάθε δραστηριότητα που έχετε αναρτήσει. Οφείλετε να μην παρέχετε την ίδια δραστηριότητα σε χαμηλότερη τιμή σε άλλες πλατφόρμες ή εκτός διαδικτύου. Επίσης, οφείλετε να τηρείτε τους Όρους Χρήσης της πλατφόρμας και να διαφυλάσσετε την ποιότητα και την ασφάλεια των παρεχόμενων από εσάς δραστηριοτήτων.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Πως παρακολουθώ και πως λαμβάνω τα έσοδα από την πώληση των εισιτηρίων μέσω της πλατφόρμας;</a></h4>
    </div>
    <div id="collapse12" class="panel-collapse collapse">
      <div class="panel-body good-size">Μπορείτε να παρακολουθείτε τα έσοδα μέσω της πώλησης εισιτηρίων καθώς και μέσω μηνιαίων αναφορών που είναι διαθέσιμες στην ιδιωτική σελίδα προφίλ σας. Τα έσοδα κάθε δραστηριότητάς σας από την πώληση εισιτηρίων μέσω της πλατφόρμας Kidspiration, θα υποβάλλονται στον τραπεζικό σας λογαριασμό στο τέλος της ημέρας που πραγματοποιήθηκε η συγκεκριμένη δραστηριότητα.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse13" class="unlined">
        <span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Γιατί να χρησιμοποιήσω την πλατφόρμα Kidspiration;</a></h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse">
      <div class="panel-body good-size">Γιατί στην πλατφόρμα Kidspiration μπορείτε να προβάλλετε τις δραστηριότητες και τις εκδηλώσεις που διοργανώνετε χωρίς πάγια ή μηνιαία επιβάρυνση, μόνο με μια κράτηση του 10% της τιμής κάθε εισιτηρίου που πωλείται μέσω της πλατφόρμας μας. Η λογική αυτή σας εξασφαλίζει έσοδα από την πώληση του πρώτου κιόλας εισιτηρίου. Επίσης, στην πλατφόρμα Kidspiration μπορείτε να είστε σίγουροι ότι η δραστηριότητά σας θα προβληθεί σε χιλιάδες ανθρώπους που αναζητούν ενδιαφέρουσες δραστηριότητες για τα παιδιά τους. Πρέπει ακόμα να αναφέρουμε πως στην αρχική σελίδα της πλατφόρμας εμφανίζονται οι πιο πρόσφατα αναρτημένες δραστηριότητες, και με αυτό τον τρόπο επιβραβεύουμε τους παρόχους που δημοσιεύουν συχνά και με συνέπεια δραστηριότητες στην πλατφόρμα μας.</div>
    </div>
  </div>
</div> 
</div>