<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" routerLink="">Kidspiration</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
  				<a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Eggrafh
  				<span class="caret"></span></a>
  				<ul class="dropdown-menu">
    				<li><a routerLink="parent-register">Εγγραφή ως Γονέας</a></li>
    				<li><a routerLink="provider-register">Εγγραφή ως Πάροχος</a></li>
  				</ul>
				</li>
        <li><a routerLink="user-login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Σύνδεση</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-search></app-search> -->
<!-- <app-home></app-home> -->
<footer class="footer">
	<hr/>
	<div class="container">
        <div class="row">
            <div class="col-sm-3">
            	<h2>Logo</h2>
            </div>
        	<div class="col-sm-3">
            	<h4>Kidspiration</h4>
            	<a href="#">Σχετικά με εμάς</a><br/>
            	<a href="#">Όροι χρήσης</a><br/>
            	<a href="#">Συχνές ερωτήσεις</a><br/>
            </div>
        	<div class="col-sm-3">
            	<h4>Επικοινωνία</h4>
            	<a href="#">Επικοινωνήστε μαζί μας</a><br/>
            	<a href="#">Διαφημιστείτε σε εμάς</a><br/>
            	<a href="#">Δίκτυο συνεργατών</a><br/>
            </div>
        	<div class="col-sm-3">
            	<h4>Social Media</h4>
            	<a href="#">Facebook</a><br/>
            	<a href="#">Twitter</a><br/>
            	<a href="#">Instagram</a><br/>
            </div>
        </div>
        <br/><br/>
        <p class="text-center text-muted"><small>© 2017 StackOverFlowers. All rights reserved</small></p>
    </div>
</footer>