<div class="container">
	<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a data-toggle="tab" href="#selection">Επιλογή Πακέτου</a></li>
			<li><a data-toggle="tab" href="#billing">Προσθήκη στοιχείων</a></li>
			<li><a data-toggle="tab" href="#confirm">Επισκόπηση και Αγορά</a></li>
		</ul>
		
		<div class="tab-content">
		<div id="selection" class="tab-pane fade in active">
			<h2>Αγορά πόντων</h2>
			<div class="panel panel-primary">
				<div class="panel panel-default " style="display:inline-block">
					<h3 style="display:inline-block">Epilogi 1</h3>
					<div style="width: 5%;display: inline-block"></div>
					<button type="button" class="btn btn-default" style="display:inline-block">Default</button>
				</div>
				<div class="panel panel-default pull-right" style="display:inline-block">
					<h3 style="display:inline-block">Epilogi 1</h3>
					<div style="width: 5%;display: inline-block"></div>
					<button type="button" class="btn btn-default" style="display:inline-block">Default</button>
				</div>
				<div class="panel panel-default">
					<h3>epilogi 2</h3>
				</div>
				<div class="panel panel-default">
					<h3>epilogi 3</h3>
				</div>
				<div class="panel panel-default">
					<h3>epilogi 4</h3>
				</div>
			</div>
		</div>
		<div id="billing" class="tab-pane fade">
			<h2>Συμπλήρωση στοιχείων</h2>
		</div>
		<div id="confirm" class="tab-pane fade">
			<h2>Επιβεβαίωση</h2>
		</div>
</div>
	</div>
</div>

