<div class="container">
	<br>
	<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a id="tab1" data-toggle="tab" href="#selection">Επιλογή Πακέτου</a></li>
			<li><a style="pointer-events:none" id="tab2" data-toggle="tab" href="#billing" (click)="this.commitable=false">Προσθήκη στοιχείων</a></li>
			<li><a style="pointer-events:none" id="tab3" data-toggle="tab" href="#confirm">Επισκόπηση και Αγορά</a></li>
		</ul>
		
		<div class="tab-content">
		<div id="selection" class="tab-pane fade in active">
				<h2>Αγορά Πόντων</h2>
				<div class="row">
    				<hr />
    			</div>
				<div class="row">
					<div class ="col-xs-6 col-md-4">
						<div class="panel panel-default">
  						<div class="panel-body text-center">500 πόντοι &#8596; 5&euro;</div>
						</div>
					</div>
					<div class="col-xs-1 col-md-1">
						<button type="button" class="btn btn-default" (click)="packetSet(1)">Αγορά</button>
					</div>
				</div>
				<div class="row">
					<div class ="col-xs-6 col-md-4">
						<div class="panel panel-default">
  						<div class="panel-body text-center">1025 πόντοι &#8596; 10&euro;</div>
						</div>
					</div>
					<div class="col-xs-1 col-md-1">
						<button type="button" class="btn btn-default" (click)="packetSet(2)">Αγορά</button>
					</div>
				</div>
				<div class="row">
					<div class ="col-xs-6 col-md-4">
						<div class="panel panel-default">
  						<div class="panel-body text-center">2100 πόντοι &#8596; 20&euro;</div>
						</div>
					</div>
					<div class="col-xs-1 col-md-1">
						<button type="button" class="btn btn-default" (click)="packetSet(3)">Αγορά</button>
					</div>
				</div>
				<div class="row">
					<div class ="col-xs-6 col-md-4">
						<div class="panel panel-default">
  						<div class="panel-body text-center">5300 πόντοι &#8596; 50&euro;</div>
						</div>
					</div>
					<div class="col-xs-1 col-md-1">
						<button type="button" class="btn btn-default" (click)="packetSet(4)">Αγορά</button>
					</div>
				</div>
				<div class="well text-center">
					<strong>Διαθέσιμοι πόντοι: 5</strong>
				</div>
		</div>
		<div id="billing" class="tab-pane fade">
				<h2>Συμπλήρωση στοιχείων</h2>
					<form name="form" (ngSubmit)="f.form.valid && setInfo()" #f="ngForm" novalidate>
					<div class="row">
    				<hr />
    			</div>
					<div class="row"> 
    				<div class="form-group col-sm-3 col-md-3" [ngClass]="{ 'has-error': f.submitted && !paymentType.valid }">
        			<label for="paymentType" class="control-label">Τύπος Κάρτας</label>
        			<br />
        			<select style="width:100%" name="paymentType" form="form" [(ngModel)]="model.paymentType"
								#paymentType="ngModel" required>
    						<option value="MasterCard">MasterCard</option>
    						<option value="Visa">Visa</option>
  						</select>
  						<div *ngIf="f.submitted && !paymentType.valid" class="help-block">Το πεδίο
								είναι υποχρεωτικό!</div>
    					</div>
    				<div class="form-group col-sm-4 col-md-4" [ngClass]="{ 'has-error': f.submitted && !cardNumber.valid }">
        			<label for="cardNumber" class="control-label">Αριθμός Κάρτας</label>
        			<input type="text" class="form-control" name="cardNumber" [(ngModel)]="model.cardNumber"
								#cardNumber="ngModel" required pattern="\b[0-9]{16}\b">
							<div *ngIf="f.submitted && cardNumber.errors?.required" class="help-block">Το πεδίο
								είναι υποχρεωτικό!</div>
							<div *ngIf="f.submitted && cardNumber.errors?.pattern" class="help-block">Απαιτείται 16ψήφιος αριθμός</div>
    				</div>
    				<div class="form-group col-sm-3 col-md-3" [ngClass]="{ 'has-error': f.submitted && !expireDate.valid }">
        			<label for="expireDate" class="control-label">Ημερομηνία λήξης</label>
        			<input type="month" class="form-control" name="expireDate" [(ngModel)]="model.expireDate"
								#expireDate="ngModel" required>
								<div *ngIf="f.submitted && !expireDate.valid" class="help-block">Το πεδίο
									είναι υποχρεωτικό!</div>
    				</div>
    				<div class="form-group col-sm-2 col-md-2" [ngClass]="{ 'has-error': f.submitted && !CRC.valid }">
        			<label for="CRC" class="control-label">CRC</label>
        			<input type="text" class="form-control" name="CRC" [(ngModel)]="model.CRC"
								#CRC="ngModel" required pattern="\b[0-9]{3}\b">
							<div *ngIf="f.submitted && CRC.errors?.required" class="help-block">Το πεδίο
								είναι υποχρεωτικό!</div>
							<div *ngIf="f.submitted && CRC.errors?.pattern" class="help-block">3ψήφιος αριθμός</div>
    				</div>
    			</div>
    			<div class="row">
    				<hr />
    			</div>
    			<div class="row">
    				<div class="form-group col-sm-4 col-md-4 col-sm-offset-1" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
        			<label for="firstName" class="control-label">Όνομα</label>
        			<input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName"
								#firstName="ngModel" required >
							<div *ngIf="f.submitted && !firstName.valid" class="help-block">Το πεδίο
								είναι υποχρεωτικό!</div>
    				</div>
    				<div class="form-group col-sm-4 col-md-4 col-sm-offset-1" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
        			<label for="lastName" class="control-label">Επώνυμο</label>
        			<input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastName"
								#lastName="ngModel" required>
							<div *ngIf="f.submitted && !lastName.valid" class="help-block">Το πεδίο
								είναι υποχρεωτικό!</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="form-group col-sm-4 col-md-4 col-sm-offset-1" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
        			<label for="address" class="control-label">Διεύθυνση</label>
        			<input type="text" class="form-control" name="address" [(ngModel)]="model.address"
								#address="ngModel" required pattern="^[α-ωΑ-Ω]{1,30}\s[0-9]{1,3}$">
								<div *ngIf="f.submitted && address.errors?.required" class="help-block">Το πεδίο
									είναι υποχρεωτικό!</div>
								<div *ngIf="f.submitted && address.errors?.pattern" class="help-block">Οδός (κενο) Αριθμός</div>
    				</div>
    				<div class="form-group col-sm-4 col-md-4 col-sm-offset-1" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
        			<label for="city" class="control-label">Πόλη</label>
        			<input type="text" class="form-control" name="city" [(ngModel)]="model.city"
								#city="ngModel" required >
							<div *ngIf="f.submitted && !city.valid" class="help-block">Το πεδίο
								είναι υποχρεωτικό!</div>
        		</div>
    			</div>
    			<div class="row">
    				<div class="form-group col-sm-4 col-md-4 col-sm-offset-1" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
        			<label for="phone" class="control-label">Τηλέφωνο</label>
        			<input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" 
        				#phone="ngModel" required pattern="\b[0-9]{10}\b">
        			<div *ngIf="f.submitted && phone.errors?.required" class="help-block">Το πεδίο
								είναι υποχρεωτικό!</div>
							<div *ngIf="f.submitted && phone.errors?.pattern" class="help-block">Απαιτείται 10ψήφιος αριθμός</div>
    				</div>
    			</div>
    			<div class="row">
    				<hr />
    			</div>
    			<div class="row">
    				<div class="form-group col-sm-4 col-md-4 col-sm-offset-4">
    					<button id="goconfirm" class="btn btn-default btn-block">Συνέχεια</button>
    				</div>
    			</div>
				</form>
		</div>
		<div id="confirm" class="tab-pane fade">
			<h2>Επιβεβαίωση</h2>
			<div class="row">
    		<hr />
    	</div>
			<div class="row">
				<div class="col-sm-8 col-md-8 col-sm-offset-2">
					<div class="well text-center">
						<strong>Χρέωση: {{model.price}}&euro;</strong><br/>
						<strong>Πόντοι: {{model.points}}</strong><br/>
						<strong>Κάρτα: τελειώνει σε {{model.cardNumber.slice(-4)}} </strong><br/>
						<strong>Στοιχεία Χρέωσης</strong><br/>
						<strong>Όνομα: {{model.firstName}}</strong><br/>
						<strong>Επώνυμο: {{model.lastName}}</strong><br/>
						<strong>Διεύθυνση: {{model.address}}</strong><br/>
						<strong>Πόλη: {{model.city}}</strong><br/>
						<strong>Τηλέφωνο: {{model.phone}}</strong>
						
					</div>
				</div>
			</div>
			<div class="row">
    		<div class="form-group col-sm-4 col-md-4 col-sm-offset-4">
    			<button class="btn btn-primary btn-block" (click)="buySubmit()">Αγορά</button>
    		</div>
    	</div>
    	<div class="row">
    		<div class="form-group col-sm-4 col-md-4 col-sm-offset-4">
    			<button class="btn btn-default btn-block" (click)="buyReset()">Ακύρωση</button>
    		</div>
    	</div>
			</div>
		</div>
	</div>
</div>

<button id="openModalButton" class="hidden" data-toggle="modal" data-target="#myModal">Open Modal</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{alert.head}}</h4>
      </div>
      <div class="modal-body">
        <p>{{alert.body}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/">Close</button>
      </div>
    </div>
  </div>
</div>
