<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" routerLink=""><img alt="Brand" src="/assets/images/logo.png"></a>
	  <a class="platform-title" routerLink="">Kidspiration</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="search">Αναζήτηση</a></li>
      </ul>
      <div *ngIf = "currentUser.enable;then enable else disable"></div>
      <ng-template #enable>
      	<div *ngIf = "currentUser.mode==='parent';then parent else provider"></div>
      	<ng-template #parent>
      		<ul class="nav navbar-nav navbar-right">
        		<li><a routerLink="points">Αγορά Πόντων ( {{currentUser.wallet}} )</a></li>
        		<li><a [routerLink]="['/parent-profile', currentUser.id]">Προφίλ</a></li>
        		<li><a routerLink="home" (click)="logout()">Αποσύνδεση</a></li>
      		</ul>
      	</ng-template>
      	<ng-template #provider>
      		<ul class="nav navbar-nav navbar-right">
        		<li><a routerLink="/event-register" >Νέα Δραστηριότητα</a></li>
        		<li><a [routerLink]="['/provider-profile', currentUser.id]">Προφίλ</a></li>
        		<li><a routerLink="home" (click)="logout()">Αποσύνδεση</a></li>
      		</ul>
      	</ng-template>
      </ng-template>
      <ng-template #disable>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
  		  	<a href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Εγγραφή
  	      	<span class="caret" data-toggle="dropdown"></span></a>
  		  	<ul class="dropdown-menu" role="menu">
    				<li><a routerLink="parent-register">Εγγραφή ως Γονέας</a></li>
    				<li><a routerLink="provider-register">Εγγραφή ως Πάροχος</a></li>
  		  	</ul>
				</li>
        <li><a routerLink="user-login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Σύνδεση</a></li>
		<li><a routerLink="adminlogin"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;admin</a></li>
      </ul>
      </ng-template>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-search></app-search> -->
<!-- <app-home></app-home> -->
<footer class="footer">
	<hr/>
	<div class="container footer-font-size">
        <div class="row">
            <div class="col-sm-3">
            	<a routerLink="about-us">Σχετικά με εμάς</a><br/>
            </div>
        	<div class="col-sm-3">
            	<a routerLink="terms">Όροι χρήσης</a><br/>
            </div>
        	<div class="col-sm-3">
				<a routerLink="faq">Συχνές ερωτήσεις</a><br/>
            </div>
        	<div class="col-sm-3">
            	<a routerLink="contact">Επικοινωνήστε μαζί μας</a><br/>
            </div>
        </div>
        <br/><br/>
        <p class="text-center text-muted"><small>© 2018 StackOverFlowers. All rights reserved</small></p>
    </div>
</footer>
