<div class="container">
 <br>
 <h3><b>Σχετικά με εμάς</b></h3>
 <br>
 <div class="row">
  <div class="col-md-8 good-size">
   <p>Η παιδική δημιουργικότητα και η όρεξη για παιχνίδι είναι δύο πράγματα που δεν πρέπει να στερηθεί κανένα παιδί. Με γνώμονα την αγάπη για τα παιδιά, όλοι εμείς στην Kidspiration εργαζόμαστε ώστε να μαθαίνετε πάντα πρώτοι και να έχετε στη διάθεσή σας τη μεγαλύτερη γκάμα εκδηλώσεων και δραστηριοτήτων για παιδιά και εφήβους σε όλη την Αττική. Αθλητικές δραστηριότητες, θεατρικές παραστάσεις, δημιουργική απασχόληση, παιδικές και εφηβικές εκδηλώσεις, ατέλειωτο παιχνίδι και πολλά άλλα βρίσκονται στη διάθεσή σας με ένα κλικ.</p>
   <p>Η πλατφόρμα Kidspiration δημιουργήθηκε με νοσταλγία και έμπνευση από την παιδική ηλικία, από μια ομάδα φοιτητών του Εθνικού Μετσόβιου Πολυτεχνείου, με στόχο να χαρτογραφήσει τις παιδικές δραστηριότητες που πραγματοποιούνται στην Αττική. Με τον τρόπο αυτό δίνει στους γονείς τη δυνατότητα να βρίσκουν με ευκολία δραστηριότητες και να κλείνουν εισιτήρια γρήγορα και απλά, ενώ ταυτόχρονα αποτελεί ένα μέσο όπου πάροχοι και διοργανωτές παιδικών εκδηλώσεων μπορούν να αναρτήσουν τις δραστηριότητές τους ώστε να τις κάνουν ευρύτερα γνωστές, και παράλληλα να διαθέσουν άμεσα και εύκολα εισιτήρια για τις δραστηριότητες αυτές σε ενδιαφερόμενους γονείς.</p>
  </div>
  <div class="col-md-4">
   <img class="img-responsive" src="http://placehold.it/700x600" alt="">
  </div>
 </div>
</div>