<div class="container">
	<br>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title sparse"><strong>Στοιχεία προφίλ</strong></h3>
  		</div>
  		<div class="panel-body good-size">
  			<form role="form" class="form-horizontal">
	    		<div class="form-group">
            		<label class="col-md-1 control-label">Username:</label>
            		<div class="col-md-3">
              			<input class="form-control" type="text" value="HelloNick" disabled>
          			</div>
            		<label class="col-md-1 control-label">Όνομα:</label>
            		<div class="col-md-3">
              			<input class="form-control" type="text" value="Nick" disabled>
          			</div>
            		<label class="col-md-1 control-label">Επώνυμο:</label>
            		<div class="col-md-3">
              			<input class="form-control" type="text" value="Paparis" disabled>
          			</div>
	    		</div>
	    		<div class="form-group">
            		<label class="col-md-1 control-label">E-mail:</label>
            		<div class="col-md-3">
              			<input class="form-control" type="text" value="nickthegreek34@gmail.com" disabled>
          			</div> <!-- Na sizitisoume an tha allazei h oxi - asfaleia reset ktl -->
            		<label class="col-md-1 control-label">Τηλέφωνο:</label>
            		<div class="col-md-3">
              			<input class="form-control" type="text" value="6945238189">
          			</div>
            		<label class="col-md-1 control-label">Κωδικός:</label>
            		<div class="col-md-3">
              			<input class="form-control" type="text">
          			</div>
	    		</div>
	    		<div class="pull-right">
	    			<button class="btn btn-default">Ενημέρωση</button>
	    		</div>
    		</form>
  		</div>
	</div>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title sparse"><strong>Ενεργά εισιτήρια</strong></h3>
  		</div>
  		<div class="panel-body good-size">
    		<div class="table-responsive">
    			<table class="table table-bordered">
    				<thead class="sparse">
      					<tr>
        					<th>Κωδικός εισιτηρίου</th>
        					<th>Όνομα εκδήλωσης</th>
        					<th>Πάροχος</th>
        					<th>Ημερομηνία</th>
        					<th>Ώρα</th>
        					<th>Τιμή εισιτηρίου</th>
      					</tr>
    				</thead>
    				<tbody>
    				</tbody>
    			</table>
    		</div>
  		</div>
	</div>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h3 class="panel-title sparse"><strong>Παλαιότερα εισιτήρια</strong></h3>
  		</div>
  		<div class="panel-body good-size">
    		<div class="table-responsive">
    			<table class="table table-bordered">
    				<thead class="sparse">
      					<tr>
        					<th>Κωδικός εισιτηρίου</th>
        					<th>Όνομα εκδήλωσης</th>
        					<th>Πάροχος</th>
        					<th>Ημερομηνία</th>	<!-- Den ksero an to kratame sta palia tickets -->
        					<th>Ώρα</th>	<!-- Den ksero an to kratame sta palia tickets -->
        					<th>Τιμή εισιτηρίου</th>
      					</tr>
    				</thead>
    				<tbody>
    				</tbody>
    			</table>
    		</div>
  		</div>
	</div>
</div>