<div class="container">
	<br>
    <div class="row">
		<ul class="nav nav-tabs">
  			<li class="active"><a data-toggle="tab" href="#profile">Προφίλ</a></li>
  			<li class="active"><a data-toggle="tab" href="#activites">Δραστηριότητες</a></li>
  			<li><a data-toggle="tab" href="#personal">Προσωπικά στοιχεία</a></li>
  			<li><a data-toggle="tab" href="#tickets">Εισιτήρια</a></li>
  			<li><a data-toggle="tab" href="#monthly-reports">Μηνιαίες αναφορές</a></li>
		</ul>
		<div class="tab-content">
  			<div id="profile" class="tab-pane fade in active">
    			<h3>HOME</h3>
    			<p>Some content.</p>
  			</div>
  			<div id="activities" class="tab-pane fade">
    			<h3>Menu 1</h3>
    			<p>Some content in menu 1.</p>
  			</div>
   			<div id="personal" class="tab-pane fade">
    			<h3>Menu 1</h3>
    			<p>Some content in menu 1.</p>
  			</div>
  			<div id="tickets" class="tab-pane fade">
    			<h3>Menu 2</h3>
    			<p>Some content in menu 2.</p>
  			</div>
   			<div id="monthly-reports" class="tab-pane fade">
    			<h3>Menu 2</h3>
    			<p>Some content in menu 2.</p>
  			</div>
		</div>
	</div>
</div>
